* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #FFECC8;
}

.container .jumbotron {
    max-width: 900px;
    /* background-color: green; */
    height: 100vh;
    margin: auto;
}

.container .jumbotron h1 {
    color: #333;
    text-align: center;
    padding: 2rem 0 1rem 0;
}

.container .form {
    background-color: #d6bb89;
    max-width: 500px;
    margin: auto;
    border-radius: 5px;
    padding: 1.5rem;
}

.container .form form input:focus,
.container .form form textarea:focus {
    outline: none;
}

.container .form form input[type="file"],
.container .form form input[type="text"],
.container .form form input[type="date"] {
    background-color: white;
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border-radius: 5px;
    border: none;
}

.container .form form textarea {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border-radius: 5px;
    border: none;
}

.container .form form .tombol {
    justify-content: space-between;
    display: flex;
}

.container .form form .tombol input[type="submit"],
.container .form form .tombol a {
    background-color: #FFA500;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.container .form form .tombol input[type="submit"]:hover {
    background-color: #af7c1e;
}

.container .form form .tombol a {
    text-decoration: none;
    background-color: #666;
}

.container .form form .tombol a:hover {
    background-color: #333;
}